<div *ngIf="mobileToEdit || !mobileToEdit" class="form-container">
  <form [formGroup]="mobileForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name">
    </div>
    <div>
      <label for="brand">Brand:</label>
      <input id="brand" formControlName="brand">
    </div>
    <div>
      <label for="price">Price:</label>
      <input id="price" formControlName="price" type="number">
    </div>
    <div>
      <label for="rating">Rating</label>
      <input id="rating" type="number" formControlName="rating" />
      <!-- Error Message for Rating -->
      <div *ngIf="mobileForm.get('rating')?.touched && mobileForm.get('rating')?.invalid">
        <small *ngIf="mobileForm.get('rating')?.hasError('required')">Rating is required.</small>
        <small *ngIf="mobileForm.get('rating')?.hasError('min')">Rating must be at least 1.</small>
        <small *ngIf="mobileForm.get('rating')?.hasError('max')">Rating cannot be greater than 5.</small>
      </div>
    </div>
    
    <div>
      <button type="submit" [disabled]="mobileForm.invalid">Save</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
